
.character_container{

    height: 15vmax;
    width: 35vmax;
    background: linear-gradient(to bottom, white, blue);
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    transition: 0.2s;

    .character_name{
        width: 100%;
        font-size: 3vmax;
        text-align: center;
        letter-spacing: 2px;
        color: black;
    }

    .character_birthday{
        width: 100%;
        text-align: center;
        color: white;
        font-size: 1vmax;
    }
}

.character_container:hover{
    box-shadow: 0px 5px 10px cadetblue ;
}