/*Variables*/
$blackblue: rgba(2, 2, 70, 0.788);


*{
    color: white;
    font-family: 'Courier New';
}

a:link, a:visited, a:active {
    text-decoration:none;
}

body{
    background-color: black;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.container{
    background:linear-gradient(to bottom, black, $blackblue,black);
    box-shadow: 0px 1px 10px blue;
    border-radius: 50px;
    width: 95vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 1vmax;

    input{
        background: linear-gradient(to right, white, lightblue);
        font-size: 1.5vmax;
        border-radius: 30px;
        width: 80%;
        height: 3vmax;
        padding: 2vmax;
        margin: 20px;
        text-align: center;
        color: black;
        letter-spacing: 3px;
        border: 3px solid black;
        border-right: 0px;
        border-bottom: 0px;
    }

    .pagination_container{

        width: 100%;
        display: flex;
        justify-content: center;

    }
    button{
        width: 10vmax;
        font-size: 3vmax;
        color: white;
        background: blue;
        border: 0;
        border-radius: 10px;
        margin: 10px;
        transition: 0.2s;
    }
    button:hover{
        box-shadow: 0px -1px 10px white ;
    }

    .separation{
        padding: 50px;
    }

    .info{
        width: 100%;
        font-size: 5vmax;
        color: white;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 40px;

        .info_title{
            width: 100%;
            text-align: center;
        }

        .info_about_this{
            font-size: 2vmax;
            text-align: center;
            width: 80%;
            padding-bottom: 100px;
        }
    }

}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 0px 20px 0px;
    img{
        width: 100px;
        height: 100px;
        margin: 20px;
    }
    p{
        font-size: 15px;
        width: 250px;
        text-align: center;
        margin: 20px;

    }
}